# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Node / Frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Secrets
firebase-service-account.json
.env
.env.local
.env.production

# Logs
*.log
